<!DOCTYPE html>
<html>
<head>
<title>Accueil</title>
</head>
<body>
{% extends "nav_logout.html" %}
{% block content %} 
<br/>
<div class="container" style="margin-bottom: 50px;width: 60%;">
    <div class="row">
        <div class="col">
                <div class="card-body" style="background-color: rgba(80,138,22,255);border-color:rgba(80,138,22,255);border-radius: 30px;border: 0rem solid;padding: 3%;">
                    <form>
                        <div class="form-group" style="color:white">
                            <label for="tttt">Nom :</label>
                            <input type="email" placeholder="Entrer votre nom" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <br/>
                        <div class="form-group" style="color:white">
                            <label for="tttt">Prénom :</label>
                            <input type="email" placeholder="Entrer votre prénom" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <br/>
                        <div class="form-group" style="color:white">
                            <label for="tttt">Adresse mail :</label>
                            <input type="email" placeholder="Entrer votre adresse mail" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <br/>
                        <div class="form-group" style="color:white">
                            <label for="ttttt">Sujet :</label>
                            <input type="email" placeholder="Entrer votre sujet" class="form-control" id="sujet" required>
                        </div>
                        <br/>
                        <div class="form-group" style="color:white">
                            <label for="message">Message :</label>
                            <textarea class="form-control" placeholder="Entrer votre message" id="message" rows="6" required></textarea>
                        </div>
                        <br/>
                        <div class="form-group" style="color:white">
                            <label class="form-label" for="customFile">Fichier :</label>
                            <input type="file" class="form-control" id="customFile" />
                        </div>
                        <br/>
                    </form>
                </div>
                <br/>
                <div class="mx-auto">
                    <button type="submit" class="btn btn-dark" style="margin-left: 37%;width: 25%;background-color: rgba(80,138,22,255);border-color:rgba(80,138,22,255);">Envoyer</button>
                </div>
        </div>
    </div>
</div>

<style>
    .footer {
        margin-top: 50px;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        background-color: #373e46;
        text-align: center;
    }
</style>

<footer class="page-footer footer font-small" style="background-color: rgba(80,138,22,255)">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright :
        <p style="margin-bottom: -5px;">Green missions </p>
    </div>
    <!-- Copyright -->

</footer>
{% endblock %} 
</body>
</html>