<!DOCTYPE html>
<html>
<head>
<title>Mes missions</title>
</head>
<body>
{% extends "nav_login.html" %}
{% block content %} 
<br/>
<br/>
<br/>
<div>

    <div class="row">
        <div class="col-2"> 
        </div>
        <div class="col-8" style="background-color: rgba(80,138,22,255);border-color:rgba(80,138,22,255);border-radius: 15px;border: 0rem solid;padding: 4%;"> 
            <h4 style="color: white;">Mes missions</h4>
            <br/>
            <div>
                <div class="row" style="background-color: white;padding-top: 5px;padding-left: 30px;border-radius: 8px 8px 0px 0px;">
                    <div class="col-6">
                        <span><strong>Ramassage des déchets</strong></span>
                        <br/>
                        <br/>
                        <span><strong>Type :</strong> Mission</span>
                    </div>
                    <div class="col-6">
                        <br/>
                        <br/>
                        <span><strong>Personnes :</strong> 1</span>
                    </div>
                </div>
                <div class="row" style="background-color: gainsboro;padding-top: 5px;padding-left: 30px;border-radius: 0px 0px 8px 8px;">
                    <div class="col-6">
                        <span> <strong>Date :</strong> Tous les mardis jusqu'au 03/12/2023</span>
                    </div>
                    <div class="col-6">
                        <span><strong>Localisation :</strong> 150 avenue de fronton, 31200</span>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <div class="row" style="background-color: white;padding-top: 5px;padding-left: 30px;border-radius: 8px 8px 0px 0px;">
                    <div class="col-6">
                        <span><strong>Planter des plantes</strong></span>
                        <br/>
                        <br/>
                        <span><strong>Type :</strong> Evènement</span>
                    </div>
                    <div class="col-6">
                        <br/>
                        <br/>
                        <span><strong>Personnes :</strong> 10</span>
                    </div>
                </div>
                <div class="row" style="background-color: gainsboro;padding-top: 5px;padding-left: 30px;border-radius: 0px 0px 8px 8px;">
                    <div class="col-6">
                        <span> <strong>Date :</strong> 03/11/2023 14h00</span>
                    </div>
                    <div class="col-6">
                        <span><strong>Localisation :</strong> 34 route de la peyrousse, 31180</span>
                    </div>
                </div>
            </div>
            <br/>
            
            <div>
                <div class="row" style="background-color: white;padding-top: 5px;padding-left: 30px;border-radius: 8px 8px 0px 0px;">
                    <div class="col-6">
                        <span><strong>Arrosage des plantes</strong></span>
                        <br/>
                        <br/>
                        <span><strong>Type :</strong> Mission</span>
                    </div>
                    <div class="col-6">
                        <br/>
                        <br/>
                        <span><strong>Personnes :</strong> 1</span>
                    </div>
                </div>
                <div class="row" style="background-color: gainsboro;padding-top: 5px;padding-left: 30px;border-radius: 0px 0px 8px 8px;">
                    <div class="col-6">
                        <span> <strong>Date :</strong> Tous les soirs à partir de 18h00 jusqu'au 15/11/2022</span>
                    </div>
                    <div class="col-6">
                        <span><strong>Localisation :</strong> 30 route de villemur-sur-tarn, 31584</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"> 
        </div>
    </div>
</div>
    {% endblock %}
</body>
</html>