<!DOCTYPE html>
<html>
<head>
<title>Accueil</title>
</head>
<body>
{% extends "nav_logout.html" %}
{% load static %}
{% block content %} 
<br/>
<br/>
<div class="row">
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
    <div class="col-3">
        <div style="background-color: rgba(80,138,22,255);border-radius: 100%;padding: 4%;width: 255px;margin-left: 15%;">
            <img src="{% static '/img/partner.png' %}" style="border-radius: 100%;width: 225px;">
        </div>
    </div>
</div>

<style>
    .footer {
        margin-top: 50px;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        background-color: #373e46;
        text-align: center;
    }
</style>

<footer class="page-footer footer font-small" style="background-color: rgba(80,138,22,255)">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright :
        <p style="margin-bottom: -5px;">Green missions </p>
    </div>
    <!-- Copyright -->

</footer>

{% endblock %} 
</body>
</html>